{
    "presets": ["env", "react"],
    "plugins": [
      "transform-object-rest-spread",
      "transform-class-properties",
      "transform-decorators-legacy",
      [
        "transform-runtime",
        {
          "polyfill": true,
          "regenerator": true
        }
      ]
    ]
  }
  