include README.rst
include LICENSE
include MANIFEST.in
recursive-include xadmin/locale *
recursive-include xadmin/static/xadmin/css *
recursive-include xadmin/static/xadmin/js *
recursive-include xadmin/static/xadmin/vendor *
recursive-include xadmin/templates *