{% extends "admin/base_site.html" %}
{% load i18n xadmin %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "xadmin/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "xadmin/css/form.css" %}" />{% endblock %}
{% block extrabody %}{{ block.super }}
<script src="{% static "xadmin/js/portal.js" %}" type="text/javascript"></script>
<script src="{% static "xadmin/js/jquery.flot.js" %}" type="text/javascript"></script>
<script src="{% static "xadmin/js/jquery.flot.resize.js" %}" type="text/javascript"></script>
<script src="{% static "xadmin/js/charts.js" %}" type="text/javascript"></script>
{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">{% trans "Dashboard" %}</a>
    <div class="btn-group pull-right">
      <a href="#" class="btn btn-primary"><i class="icon-wrench icon-white"></i> {% trans "Setup" %}</a>
    </div>
  </div>
</div>
<div class="dashboard row-fluid">
  <div class="span6 column">
    <div class="box">
      <div class="box-title">
        User Count Chart
      </div>
      <div class="box-content tabs">
        <ul id="chart-tab" class="nav nav-tabs">
          <li class="active">
            <a href="#chart-user_count" data-toggle="tab">
              User Report
            </a>
          </li>
          <li>
            <a href="#chart-avg_count" data-toggle="tab">
              Avg Report
            </a>
          </li>
        </ul>
        <div id="chart-tab-content" class="tab-content">
          <div class="chart tab-pane active" id="chart-user_count" data-chart-url="/app/accessrecord/chart/user_count/?_p_date__gte=2013-01-08&amp;p=1&amp;_p_date__lt=2013-01-29"
          style="height: 300px; margin:0px; overflow: hidden;">
          </div>
          <div class="chart tab-pane" id="chart-avg_count" data-chart-url="/app/accessrecord/chart/avg_count/?_p_date__gte=2013-01-08&amp;p=1&amp;_p_date__lt=2013-01-29"
          style="height: 300px; margin:0px; overflow: hidden;">
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="box-title">
        <span class="badge badge-info">
          80
        </span>
        Recent Logs
      </div>
      <div class="box-content nopadding">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                host
              </th>
              <th>
                maintain type
              </th>
              <th>
                hard type
              </th>
              <th>
                time
              </th>
              <th>
                operator
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="row1">
              <td class="&quot;nowrap&quot;">
                <a href="2/update/">
                  Game2
                </a>
              </td>
              <td>
                qwe
              </td>
              <td>
                asd
              </td>
              <td class="&quot;nowrap&quot;">
                Nov.21,2012,5:15 p.m.
              </td>
              <td>
                asda
              </td>
            </tr>
            <tr class="row2">
              <td class="&quot;nowrap&quot;">
                <a href="1/update/">
                  Game1
                </a>
              </td>
              <td>
                disk
              </td>
              <td>
                disk
              </td>
              <td class="&quot;nowrap&quot;">
                Nov.10,2012,10 a.m.
              </td>
              <td>
                tm
              </td>
            </tr>
            <tr class="row1">
              <td class="&quot;nowrap&quot;">
                <a href="2/update/">
                  Game2
                </a>
              </td>
              <td>
                qwe
              </td>
              <td>
                asd
              </td>
              <td class="&quot;nowrap&quot;">
                Nov.21,2012,5:15 p.m.
              </td>
              <td>
                asda
              </td>
            </tr>
            <tr class="row2">
              <td class="&quot;nowrap&quot;">
                <a href="1/update/">
                  Game1
                </a>
              </td>
              <td>
                disk
              </td>
              <td>
                disk
              </td>
              <td class="&quot;nowrap&quot;">
                Nov.10,2012,10 a.m.
              </td>
              <td>
                tm
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="span6 column">
    <div class="box">
      <div class="box-title">
        Today Stats
      </div>
      <div class="box-content">
        <div class="row-fluid">
          <a href="#" class="span3 m-stats-item">
            <span class="m-stats-val">
              200+
            </span>
            Orders
          </a>
          <a href="#" class="span3 m-stats-item">
            <span class="m-stats-val">
              50
            </span>
            Pendings
          </a>
          <a href="#" class="span3 m-stats-item">
            <span class="m-stats-val">
              100+
            </span>
            Customers
          </a>
          <a href="#" class="span3 m-stats-item">
            <span class="m-stats-val">
              1000
            </span>
            Products
          </a>
        </div>
      </div>
    </div>
    <div class="box fieldset">
      <div class="box-title">
        Status data
      </div>
      <div class="box-content nopadding form-horizontal short_label">
        <div id="div_id_status" class="clearfix control-group">
          <label for="id_status" class="control-label requiredField">
            Status
            <span class="asteriskField">
              *
            </span>
          </label>
          <div class="controls">
            <select id="id_status" class="select" name="status">
              <option value="" selected="selected">
                ---------
              </option>
              <option value="0">
                Normal
              </option>
              <option value="1">
                Down
              </option>
              <option value="2">
                No Connect
              </option>
              <option value="3">
                Error
              </option>
            </select>
          </div>
        </div>
        <div id="div_id_ssh_port" class="clearfix control-group">
          <label for="id_ssh_port" class="control-label ">
            Ssh port
          </label>
          <div class="controls">
            <input id="id_ssh_port" type="text" class="int-field adminintegerfieldwidget"
            name="ssh_port">
          </div>
        </div>
        <div id="div_id_ip" class="clearfix control-group">
          <label for="id_ip" class="control-label ">
            Ip
          </label>
          <div class="controls">
            <input id="id_ip" type="text" class="textinput textInput" name="ip">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">
              Save changes
            </button>
            <button type="button" class="btn">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="box-title">
        Test
      </div>
      <div class="box-content">
        Lorem ipsum dolor sit amet,consectetuer adipiscing elit
      </div>
    </div>
    <div class="box">
      <div class="box-title">
        Test
      </div>
      <div class="box-content">
        Lorem ipsum dolor sit amet,consectetuer adipiscing elit
      </div>
    </div>
  </div>
</div>
{% endblock %}
