
.empty-form {
    display: none;
}
.formset .row-deleted{
    background: #fff0f0  !important;
}
.formset .row-added {
    background: #d1ffdd !important;
}
.formset .formset-heading{
    padding: 10px;
    border-bottom: 1px solid #EEE;
}
.formset .row-deleted .formset-form {
    display: none;
}
.formset .box-content.accordion {
    margin: 0px;
    padding: 5px 5px 3px; 
}
.formset .accordion-inner {
    padding: 0px;
}
.formset .accordion-heading .delete-row {
    float: right;
    margin: 8px;
}
.formset .nav{
    margin-bottom: 5px;
}
.formset .box-content.tabs{
    padding: 5px 0px 0px;
}
.formset .tabs .tab-content{
    overflow: hidden;
}
.formset .tabs .delete-row{
    float: right;
    margin: 8px 8px;
}
.formset .table{
    margin-bottom: 0px;
}
.formset .table td{
    padding: 4px;
}

.formset .table td input,
.formset .table td select,
.formset .table td textarea {
    width: 100%;
    height: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.formset .table td .delete-row{
    margin-top: 4px;
    display: block;
}