
/* CUSTOM FORM FIELDS */

.controls .datetime > .input-group {
  float: left;
  margin-right: 5px;
}
.controls .datetime > .input-group:last-child {
  margin-right: 0px;
}
.form-horizontal .select2-container{
  margin-bottom: 0px;
}
.asteriskField {
  color: red;
}
.control-group {
  margin: 10px 0;
}

@media (min-width: 768px) {
  select.selectmultiple {
    width: 70%;
    max-width: 350px;
    height: 120px;
  }
  .select2-container .select2-choice {
    height: 31px;
  }
  select, .select2-container {
    max-width: 200px;
    width: 60%;
  }
  .form-actions.fixed{
    position:fixed;
    _position:absolute;
    bottom:0px;
    z-index:295;
    margin-left: -10px;
    -webkit-box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
    right: 10px;
  }

  .form-actions.fixed .pull-right{
    float: none;
    margin-left: 20px;
  }

  .form-horizontal .form-row {
    margin: 0px;
  }
  .form-horizontal .form-row .controls {
    height: 30px;
  }
  .form-horizontal .form-row .control-group{
    display: inline-block;
    width: 50%;
    float: left;
  }
  .form-horizontal .form-row::before, .form-horizontal .form-row::after{
    display: table;
    content: " ";
  }
  .form-column.sidebar .control-group .col{
    width: 100%;
  }
}
@media (max-width: 767px) {
  .select2-container {
    width: 100%;
  }
  .select2-container .select2-choice {
    height: 32px;
  }
  .btn-toolbar.top-toolbar {
    margin: 0 10px 10px;
    text-align: right;
  }
}

/** detail page **/
img.field_img {
  max-height: 100px;
}

/** revision form **/
.diff_field .control-label {
  color: #FF8040;
}
.diff_field .controls{
  background-color: #FCF8E3;
}

/** tabs **/
.nav.nav-tabs {
  margin-bottom: 15px;
}