{% load i18n %}
{% load xadmin_tags %}
{% if is_mob %}
<div class="form-actions well well-small">
  {% if show_delete_link %}<a href="{{ delete_url }}" class="btn btn-danger deletelink pull-left col-sm-2"><i class="icon-trash"></i></a>{% endif %}
  {% if show_save %}
  <div class="btn-group save-group pull-left {% if show_delete_link %}col-sm-10{%else%}col-sm-12{% endif %}">
  <button type="submit" class="default btn btn-primary" name="_save" {{ onclick_attrib }}/><i class="icon-save"></i> {% trans 'Save' %}</button>
  <button type="button" class="more btn btn-primary" data-toggle="collapse" data-target=".collapse.more-btns"><i class="icon-ellipsis-vertical"></i></button>
  </div>
  {% endif %}
<div class="collapse more-btns">
{% if show_save_as_new %}<input type="submit" class="btn btn-default btn-block" value="{% trans 'Save as new' %}" name="_saveasnew" {{ onclick_attrib }}/>{%endif%}
{% if show_save_and_add_another %}<input type="submit" class="btn btn-default btn-block" value="{% trans 'Save and add another' %}" name="_addanother" {{ onclick_attrib }} />{% endif %}
{% if show_save_and_continue %}<input type="submit" class="btn btn-default btn-block" value="{% trans 'Save and continue editing' %}" name="_continue" {{ onclick_attrib }}/>{% endif %}
{% view_block 'submit_line' %}
</div>
</div>
{% else %}
<div class="form-actions well well-small">
{% if show_save %}<button type="submit" class="default btn btn-primary" name="_save" {{ onclick_attrib }}/><i class="icon-save"></i> {% trans 'Save' %}</button>{% endif %}
{% if show_save_as_new %}<input type="submit" class="btn btn-default" value="{% trans 'Save as new' %}" name="_saveasnew" {{ onclick_attrib }}/>{%endif%}
{% if show_save_and_add_another %}<input type="submit" class="btn btn-default" value="{% trans 'Save and add another' %}" name="_addanother" {{ onclick_attrib }} />{% endif %}
{% if show_save_and_continue %}<input type="submit" class="btn btn-default" value="{% trans 'Save and continue editing' %}" name="_continue" {{ onclick_attrib }}/>{% endif %}
{% view_block 'submit_line' %}
{% if show_delete_link %}<a href="{{ delete_url }}" class="btn btn-danger deletelink pull-right"><i class="icon-trash"></i> {% trans "Delete" %}</a>{% endif %}
</div>
{% endif %}