{% load i18n %}
{% load xadmin_tags %}
<div class="form-actions">
{% if show_save %}<input type="submit" value="{% trans 'Save' %}" class="default btn btn-primary" name="_save" {{ onclick_attrib }}/>{% endif %}
{% if show_save_as_new %}<input type="submit" class="btn" value="{% trans 'Save as new' %}" name="_saveasnew" {{ onclick_attrib }}/>{%endif%}
{% if show_save_and_add_another %}<input type="submit" class="btn" value="{% trans 'Save and add another' %}" name="_addanother" {{ onclick_attrib }} />{% endif %}
{% if show_save_and_continue %}<input type="submit" class="btn" value="{% trans 'Save and continue editing' %}" name="_continue" {{ onclick_attrib }}/>{% endif %}
{% view_block 'submit_line' %}
{% if show_delete_link %}<a href="{{ delete_url }}" class="btn btn-danger deletelink pull-right"><i class="icon-remove"></i> {% trans "Delete" %}</a>{% endif %}
</div>