{% extends "admin/widgets/base.html" %}
{% load i18n exadmin %}
{% load crispy_forms_tags %}

{% block box_content_class %}nopadding form-horizontal short_label{% endblock box_content_class %}
{% block content %}
<form class="exform" method="post" id="{{ widget.model_name }}_form">{% csrf_token %}
  {% crispy addform %}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">
        Quick Add
      </button>
    </div>
  </div>
</form>
{% endblock content %}