{% load i18n exadmin %}
{% load crispy_forms_tags %}
<div class="box" id="{{ widget_id }}">
  <div class="box-title">
    <i class='icon fa-icon-wrench' data-toggle="modal" data-target="#{{ widget_id }}-opts-form"></i>
    {% block title %}
      {{ widget_title }}
    {% endblock title %}
  </div>
  <div class="box-content {% block content_css %}{% endblock content_css %}">
    {% block content %}
    {{ content|safe }}
    {% endblock content %}
  </div>
  <div class="modal hide fade" tabindex="-1" role="dialog" id="{{ widget_id }}-opts-form">
    <form method="post" class="box-form form-horizontal widget-form">
    {% csrf_token %}
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>{% trans "Widget Options" %}</h3>
    </div>
    <div class="modal-body">
      {% block form %}
        {% crispy form %}
      {% endblock form %}
      <input type="hidden" name="_delete"/>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger pull-left btn-remove">{% trans "Remove" %}</button>
      <button class="btn" data-dismiss="modal">{% trans "Close" %}</button>
      <input class="btn btn-primary" type="submit" value="{% trans 'Save changes' %}"/>
    </div>
    </form>
  </div>
</div>