{% extends base_template %}
{% load i18n xadmin_tags %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{% endblock %}

{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">{% if icon %}<i class="icon-{{icon}}"></i>{%endif%} {{ title }}</a>
    <div class="btn-group pull-right">
      {% if has_add_widget_permission %}
      <a title="{% trans "Add Widget" %}" href="{{ add_widget_url }}" class="btn btn-primary"><i class="icon-plus icon-white"></i> {% trans "Add Widget" %}</a>
      {% endif %}
    </div>
  </div>
</div>
<div class="dashboard row-fluid">
  {% for c in columns %}
  <div class="{{ c.0 }} column">
    {% for widget in c.1 %}
      {{ widget.widget|safe }}
    {% endfor %}
  </div>
  {% endfor %}
</div>
<input type='hidden' id='_portal_key' value='{{ portal_key }}' />
{% endblock %}
