{% load i18n %}
{% load crispy_forms_field %}
<a class="editable-handler" rel="tooltip" title="%s"><i class="icon-edit"></i>
  <div class="popover editable">
    <div class="arrow"></div>
    <div class="popover-inner">
      <h3 class="popover-title">
        <button class="close" data-dismiss="clickover">&times;</button>
        {{title}}
      </h3>
      <div class="popover-content">
        <form method="post" action="{{action}}" class="">  
          {% crispy_field field %}
          <button type="submit" class="btn btn-success">{% trans "Apply" %}</button>
        </form>
      </div>
    </div>
  </div>
</a>