{% load i18n xadmin_tags %}
<div class="nav-menu nav-collapse collapse">
  <ul class="nav pull-right">
    <li class="dropdown g-theme">
      <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
      <i class="icon-magic icon-white"></i> {% trans "Themes" %} <b class="caret"></b></a>
      <ul id="g-theme-menu" class="dropdown-menu" role="menu">
        {% for t in themes %}
            <li{% if t.css == select_css %} class="active"{% endif %}><a data-css-href="{{t.css}}">{{t.name}}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>