/* header style */
.header-bg{
  background: #404040;
}
.b-bottom{
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}
.b-bottom button{
  margin: 0 5px;
}
.popover-button button{
  margin: 0 5px;
}
.logo{
  font-weight: bold;
  color: rgba(255, 255, 255, 0.67);
  font-size: 14px;  
}
.progress{
  display: inline-block;
  width: 150px;
  margin: 0 10px; 
}
/* container style */
.left-sider,.right-sider{
  position: relative;
  background: #fff;
  border: 1px solid rgba(64,64,64,0.15);
}
.left-sider .ant-layout-sider-children, .right-sider .ant-layout-sider-children {
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
}
.right-sider .nav-tabs li a {
    padding: 10px;
}
.indent{
  margin-left: 40px;
}
.trigger-left,.trigger-right{
  position: absolute;
  right: -20px;
  top: 10px;
  z-index: 999;
  border: 1px solid rgba(64,64,64,0);
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 3.5px;
  border-radius: 0px 5px 5px 0px;
  background: rgba(64,64,64,0);
  color: rgba(64,64,64,1);
}
.trigger-right{
  left: -20px;
  border-radius: 5px 0px 0px 5px;
}
.dashboard{
  width: 1920px;
  height: 1080px;
  transform-origin: 50% 10%;
}
.title{
  line-height: 30px;
  border-bottom: 1px solid rgba(64,64,64,0.15);
  text-indent: 2em;
}
.m-b{
  margin-bottom: 15px;
}
.popover-position{
  z-index: 99999; 
}
.screenshot{
  width:100px;
  height:100px;
}
.modal-title{
  border-bottom: 1px solid #e9e9e9;
  font-size: 14px;
  line-height: 38px;
  text-indent: 1em;
  font-weight: normal;
}
.modal-left{
  border: 1px solid #e9e9e9;
  border-radius: 4px;
}
.modal-right{
  padding-left: 5px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  width: calc(75% - 15px);
  margin-left: 15px;
}
.modal-tabs{
  margin: 8px 15px;
  height: 695px;
}
.http{
  line-height: 30px;
  text-indent: 1em;
}
.http + span{
  margin: 0 10px 10px;
}
/* diy inspector style */
.header-inspector{
  height: 680px;
}
.sider-inspector{
  height: 400px;
}
/* AntdFormComponent */
.form-wrap p{
  font-size: 14px;
  line-height: 25px;
  color: #49a9ee;
}
/* react-json-inspector style */
.json-inspector,
.json-inspector__selection {
    font: 14px/1.4 Consolas, monospace;
    padding-top: 20px;
    margin-left: 20px;
    height: 680px;
    overflow-y: auto;
    overflow-x: hidden;
}

.json-inspector__leaf {
    padding-left: 10px;
}

.json-inspector__line {
    display: block;
    position: relative;

    cursor: default;
    
    padding-left: 5px;
    line-height: 20px;
}

.json-inspector__line:after {
    content: '';

    position: absolute;
    top: 0;
    left: -200px;
    right: -50px;
    bottom: 0;
    z-index: -1;

    pointer-events: none;
}

.json-inspector__line:hover:after {
    background: rgba(0, 0, 0, 0.06);
}

.json-inspector__leaf_composite > .json-inspector__line {
    cursor: pointer;
}

.json-inspector__radio,
.json-inspector__flatpath {
    display: none;
}
.json-inspector__radio:checked + label{
  background:linear-gradient(to right, rgba(38,146,218,0.3),transparent);
  width: 200px;
}
.json-inspector__value {
    margin-left: 5px;
}

.json-inspector__search {
    display:none;
    min-width: 200px;
    margin: 0 10px 10px 0;
    padding: 2px;
}

.json-inspector__key {
    color: #2692da;
}

.json-inspector__value_helper,
.json-inspector__value_null,
.json-inspector__not-found {
    color: #6583a9;
}

.json-inspector__value_string {
    color: #798953;
}

.json-inspector__value_boolean {
    color: #75b5aa;
}

.json-inspector__value_number {
    color: #d28445;
}

.json-inspector__hl {
    background: #ff0;
    box-shadow: 0 -1px 0 2px #ff0;
    border-radius: 2px;
}

.json-inspector__show-original {
    display: inline-block;
    padding: 0 6px;

    color: #666;
    cursor: pointer;
}

.json-inspector__show-original:hover {
    color: #111;
}

.json-inspector__show-original:before {
    content: '⥂';
}

.json-inspector__show-original:hover:after {
    content: ' expand'
}
/* ========== contextmenu ============ */
.react-contextmenu {
    min-width: 120px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    color: #373a3c;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.35);
    border-radius: .25rem;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease !important;
    z-index: 999;
    box-shadow: 5px 5px 2px -3px rgba(64,64,64,.15);
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
}

.react-contextmenu-item {
    padding: 3px 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    cursor: pointer;
    outline: none;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    background-color: rgba(64,64,64,.15);
    border-color: rgba(64,64,64,.15);
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    color: #878a8c;
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item--divider {
    margin-bottom: 3px;
    padding: 2px 0;
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: inherit;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}