{% load url from future %}{% load exadmin %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="ExAdmin Project">
  <meta name="author" content="sshwsfc@gmail.com">
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
  <title>{% block title %}{% endblock %}</title>
  {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
  <link rel="stylesheet" type="text/css" href="{% static "exadmin/css/bootstrap.css" %}" />
  <!--link rel="stylesheet" type="text/css" href="{% static "exadmin/css/theme-inspiritas.css" %}" /-->
  <link rel="stylesheet" type="text/css" href="{% static "exadmin/css/main.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "exadmin/css/bootstrap-responsive.min.css" %}" />
  {{ media.css }}
  {% block extrastyle %}{% endblock %}
  <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
  {% block extrahead %}{% endblock %}
  {% view_block 'extrahead' %}
</head>
{% load i18n %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
  {% block body %}
  {% endblock body %}
  <script src="{% static "exadmin/js/jquery.js" %}" type="text/javascript"></script>
  <script src="{% static "exadmin/js/jquery-ui.js" %}" type="text/javascript"></script>
  <script src="{% static "exadmin/js/bootstrap.js" %}" type="text/javascript"></script>
  <script src="{% static "exadmin/js/main.js" %}" type="text/javascript"></script>
  {{ media.js }}
  {% block extrabody %}{% endblock %}
  {% view_block 'extrabody' %}
</body>
</html>
