
.dashboard.container-fluid {
    padding-left: 0px;
}

.box-title .icon { float: right; width: 20px; height: 20px; top: 50%; margin-left: 10px; cursor: pointer;}
.box-title .badge { float: right; top: 50%; margin-left: 10px;}
.ui-sortable-placeholder { border: 1px dotted #CCC; visibility: visible !important; background: #FEFEFE; }
.ui-sortable-placeholder * { visibility: hidden; }

.box .table{
    margin-bottom: 0px;
}

.box-content.tabs {
    padding: 5px;
}

.m-stats-item {
    padding: 15px;
    background-color: #08C;
    color: white;
    text-decoration: none !important;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075);
}
.m-stats-val {
    display: block;
    font-size: 16pt;
    font-weight: bold;
}