.editable-handler .popover{
  width: auto;
}
.editable form{
  margin-bottom: 0px;
}
.editable form .text-field, 
.editable form .textinput {
    width: 200px;
}

.editable form .int-field {
    width: 150px;
}
.editable form .textarea-field{
    width: 250px;
    height: 50px;
}

.editable form select, 
.editable form .select2-container {
  max-width: 200px;
  min-width: 100px;
  width: 100%;
  margin-bottom: 10px;
}

.editable form .control-group,
.editable form .controls{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.editable .mask {
  position: absolute;
  left: 0px; top: 0px;
  bottom: 0px; right: 0px;
  padding: 20px;
  opacity: 0.7;
  filter: alpha(opacity=70);
  background: #fff;
}

.editable .mask .progress{
  opacity: 1;
  filter: alpha(opacity=100);
}
