
.empty-form {
    display: none;
}
.formset .box-content.accordion {
    margin: 0px;
    padding: 5px 5px 3px; 
}
.formset .accordion-inner {
    padding: 0px;
}
.formset .row-deleted{
    background: #fff0f0;
}

.accordion-heading .delete-row {
    float: right;
    margin: 8px;
}